ul.block-2
  -var imgPath = "img/block_2/"
  li.block-2__img-wrapper
    picture.block_2__picture
      source(
        data-srcset=imgPath+"img1.webp 1x, "+imgPath+"img1@2x.webp 2x", 
        type="image/webp")
      img.block_2__img.lazyload(
        src="data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pjwvc3ZnPg=="
        data-src=imgPath+"img1.png", 
        data-srcset=imgPath+"img1@2x.png 2x", 
        alt="magellan health")
  li.block-2__img-wrapper
    picture.block_2__picture
      source(
        data-srcset=imgPath+"img2.webp 1x, "+imgPath+"img2@2x.webp 2x", 
        type="image/webp")
      img.block_2__img.lazyload(
        src="data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pjwvc3ZnPg=="
        data-src=imgPath+"img2.png", 
        data-srcset=imgPath+"img2@2x.png 2x", 
        alt="Kaiser Permanente")
  li.block-2__img-wrapper
    picture.block_2__picture
      source(
        data-srcset=imgPath+"img3.webp 1x, "+imgPath+"img3@2x.webp 2x", 
        type="image/webp")
      img.block_2__img.lazyload(
        src="data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pjwvc3ZnPg=="
        data-src=imgPath+"img3.png", 
        data-srcset=imgPath+"img3@2x.png 2x", 
        alt="Anthem")
  li.block-2__img-wrapper
    picture.block_2__picture
      source(
        data-srcset=imgPath+"img4.webp 1x, "+imgPath+"img4@2x.webp 2x", 
        type="image/webp")
      img.block_2__img.lazyload(
        data-src=imgPath+"img4.png", 
        src="data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pjwvc3ZnPg=="
        data-srcset=imgPath+"img4@2x.png 2x", 
        alt="North Bay Regional Center")
  li.block-2__img-wrapper
    picture.block_2__picture
      source(
        data-srcset=imgPath+"img5.webp 1x, "+imgPath+"img5@2x.webp 2x", 
        type="image/webp")
      img.block_2__img.lazyload(
        src="data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pjwvc3ZnPg=="
        data-src=imgPath+"img5.png", 
        data-srcset=imgPath+"img5@2x.png 2x", 
        alt="Partnership Health Plan of CA")
  li.block-2__img-wrapper
    picture.block_2__picture
      source(
        data-srcset=imgPath+"img6.webp 1x, "+imgPath+"img6@2x.webp 2x", 
        type="image/webp")
      img.block_2__img.lazyload(
        src="data:image/svg+xml;base64,PHN2ZyByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ0cmFuc3BhcmVudCI+PC9yZWN0Pjwvc3ZnPg=="
        data-src=imgPath+"img6.png", 
        data-srcset=imgPath+"img6@2x.png 2x", 
        alt="Aetna")